@font-face {
  font-family: 'Source Sans Pro';
  src: url('/font/SourceSansPro-Regular.ttf') format('truetype');
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Source Sans Pro' !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Source Sans Pro' !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

ul {
  height: 100%;

}

.main-logo {
  background-color: transparent !important;
}

.ant-layout {
  background-color: #121236 !important;

}

.hero-slogan-section {
  font-size: 18px;
  font-weight: 500;
  margin-top: 50px;
  margin-left: 25px;
}

.hero-slogan {
  font-size: 28px;
}

li.ant-menu-overflow-item {
  background-color: #001529 !important;
}

.title-home {
  letter-spacing: 0px;
}

.home-paragraph {
  margin: 10px 10px 10px 10px;
}

.hero-image {
  margin-top: 15%;
}

.btn-gradient {
  background: rgb(0, 21, 41);
  background: linear-gradient(90deg, rgba(0, 21, 41, 1) 0%, rgba(119, 7, 79, 1) 100%);
}

.ant-select-selector {
  background-color: #001529 !important;
  color: #B516AB !important;
}

.ant-select-arrow {
  color: #B516AB !important;
}

.connect-button {
  margin: inherit !important;
  margin-top: 10px !important;
}

.create-form {
  background-color: #780650;
  color: #fff;
  font-family: 'Source Sans Pro' !important;
}

.ant-card-head-title {
  color: #fff;
}

.form-control {
  background-color: #520339;
  border: none;
  color: #fff;
}

input {
  background-color: #520339 !important;
  border: none;
  color: #fff !important;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #AA839E !important;
  opacity: 1;
  /* Firefox */
}

textarea::placeholder {
  color: #AA839E !important;
  opacity: 1;
}

.ant-picker-range {
  background-color: #520339 !important;
  color: #fff;
  border: none;
}

.standard-margin {
  color: #fff !important;
  font-family: 'Source Sans Pro' !important;
}

.navbar-items {
  font-family: 'Source Sans Pro' !important;
}

.list-events {
  text-align: center;
  font-family: 'Source Sans Pro' !important;
}

.connect-button {
  margin-left: 690px !important;
}

.img-bg {
  font-family: 'Source Sans Pro' !important;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bgText {
  margin: 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 40vh;
  text-shadow: 1px 1px 1px #3c5c5e;
}

th {
  text-align: center !important;
}

td {
  text-align: center !important;
}